<div class="py-5 h-full">
    <div class="flex">
        <header class="text-4xl p-4 font-bold">Learning SUBJECTX</header>
    </div>

    <div class="ml-1 pl-3 pb-3 text-">
        For loop here
    </div>

    <div class="flex flex-col p-4 border-t border-t-gray-600 items-center h-full">
        <div class="flashCardDiv flex flex-col border border-gray-600 rounded-2xl">
            <div class="p-5 text-blue-500">
                Tag here
            </div>

            <div class="flex p-8 mb-8 questionDiv justify-center">
                question
            </div>
            
            <div class="flex p-10 justify-center text-2xl border-t border-t-gray-600" (click)="showAnswear()">
                @if (!answearClicked) {
                <a class="mt-6 text-blue-500">
                    Show answear
                </a>
                }@else {
                    <p class="mt-6">Answear example...</p>
                }
            </div>
            
        </div>

        <div class="flex px-4 pt-4 justify-center gap-1.5">
            <div class="buttonDiv bg-red-800">
                <button class="flex flex-col">
                    <mat-icon>home</mat-icon>
                    <p class="mt-2">Bad</p>
                </button>
            </div>

            <div class="buttonDiv bg-yellow-700">
                <button class="flex flex-col">
                    <mat-icon>home</mat-icon>
                    <p class="mt-2">Ok</p>
                </button>
            </div>

            <div class="buttonDiv bg-green-900">
                <button class="flex flex-col">
                    <mat-icon>home</mat-icon>
                    <p class="mt-2">Great</p>
                </button>
            </div>
        </div>
    </div>
</div>