.questionDiv{
    font-size: 35px;
}

.flashCardDiv{
    background-color: #231942;
    width: 80%;
    height: 55vh;
    max-height: 60vh;
}

.buttonDiv{
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.25rem;
    border-radius: 1rem;
}