@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: linear-gradient(#6441A5, #2a0845);
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.customClickableBlock {
    cursor: pointer;
}

.customClickableBlock.block {
    background-color: #231942;
    border-radius: 1rem;
    padding-top: 0.75rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    overflow: auto;
}

.customClickableBlock:hover {
    background-color: #332252;
}

.customCounter {
    margin-left: 0.5rem;
    margin-bottom: auto;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: #475569;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.125rem;
}

.mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}

.mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: white;
    --mdc-snackbar-supporting-text-color: white;
}

.mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 40px !important;
}

.mdc-notched-outline__notch {
    border-right: none;
}

.mat-mdc-dialog-surface {
    background-color: transparent !important;
}