.navs {
    border-radius: 10%;
    padding: 0.5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navs:hover{
    background-color: #332252;
}

a{
    &.active {
        background-color: #12013f;
    }
}