<div class="h-screen w-full">
    <nav class="flex flex-col p-5 justify-between gap-5">
            <a class="flex flex-col my-5 items-center" routerLink="/">
                <mat-icon class="min-h-10 min-w-10 text-4xl">school</mat-icon>
            </a>
    
            <a class="navs" mat-fab extended routerLink="/">
                <mat-icon>home</mat-icon>
                <span class="text-lg">Home</span>
            </a>
    
            <a class="navs" mat-fab extended routerLink="/stats">
                <mat-icon>query_stats</mat-icon>
                <span class="text-lg">Statistics</span>
            </a>

            <a class="navs" mat-fab extended routerLink="/profile">
                <mat-icon>account_circle</mat-icon>
                <span class="text-lg">Profile</span>
            </a>
    </nav>
</div>