<div class="h-screen w-full">
    <nav class="h-screen flex flex-col justify-between w-32">
        <div class="flex flex-col justify-between p-4 gap-5">
            <a class="flex flex-col my-5 items-center" routerLink="/">
                <mat-icon class="min-h-10 min-w-10 text-4xl">school</mat-icon>
            </a>

            <a class="navs" routerLink="/" [ngClass]="{ 'active': isHomeActive() }">
                <mat-icon>home</mat-icon>
                <span class="text-lg">Home</span>
            </a>

            <a class="navs" routerLink="/profile" routerLinkActive="active">
                <mat-icon>account_circle</mat-icon>
                <span class="text-lg">Profile</span>
            </a>

            <a class="navs" routerLink="/test-error" routerLinkActive="active">
                <mat-icon>error</mat-icon>
                <span class="text-lg">Errors</span>
            </a>
        </div>

        <div class="flex flex-col justify-between p-4">
            <a class="navs mb-4" (click)="logout()">
                <mat-icon class="text-red-600">logout</mat-icon>
                <span class="text-lg">Log out</span>
            </a>
        </div>
    </nav>
</div>