<div class="flex mx-2 mt-4">
    <div class="flex-1 universalDiv max-h-screen rounded-xl">
        <div class="py-3 h-full">
            <div>
                <header class="text-4xl p-4 font-bold">Profile</header>
            </div>

            <div class="mt-3 p-6 pt-8 border-t border-t-gray-600 text-black">
                <mat-card class="p-6">
                    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
                        <mat-form-field class="pt-3" appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput formControlName="firstName" type="text">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input matInput formControlName="lastName" type="text">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput disabled type="text" value="{{user?.email}}">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Premium account?</mat-label>
                            <input matInput disabled type="text" value="{{user?.hasPremium}}">
                        </mat-form-field>

                        <button class="mt-3" type="submit" [disabled]="!enableBtn" mat-flat-button>Edit</button>
                    </form>
                </mat-card>
            </div>
        </div>
    </div>
</div>