<div class="flex justify-center items-center w-screen h-screen">
    <mat-card class="flex bgColor p-8 justify-center align-middle">
        <mat-card-header class="justify-center">
            <h2 class="text-center font-semibold pb-7">Register</h2>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-3">
                <mat-form-field appearance="outline">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstName" type="text" placeholder="Tom" required>
                    @if (registerForm.get('firstName')?.hasError('required')) {
                    <mat-error>First name is required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastName" type="text" placeholder="Moe" required>
                    @if (registerForm.get('lastName')?.hasError('required')) {
                    <mat-error>Last name is required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="user@test.com" required>
                    @if (registerForm.get('email')?.hasError('required')) {
                    <mat-error>Email is required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Pa$$w0rd" required>
                    @if (registerForm.get('password')?.hasError('required')) {
                    <mat-error>Password is required</mat-error>
                    }
                </mat-form-field>

                @if (validationErrors) {
                <div class="mb-3 p-4 bg-red-100 text-red-600">
                    <ul class="list-disc px-3">
                        @for (error of validationErrors; track $index) {
                        <li>{{error}}</li>
                        }
                    </ul>
                </div>
                }

                <button [disabled]="registerForm.invalid" mat-flat-button 
                    type="submit">Register</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>