<mat-card class="p-8 dialog border bg-white">
    <mat-card-header class="justify-center">
        @if (matDialogData.flashCardId) {
            <h2 class="text-center font-semibold pb-7">Edit flashcard</h2>
        }@else {
            <h2 class="text-center font-semibold pb-7">Create new flashcard</h2>
        }
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="addFlashCardForm" class="flex flex-col gap-1">
            <mat-form-field appearance="outline">
                <mat-label>Question</mat-label>
                <textarea matInput formControlName="question" placeholder="Is this a random question?" rows="3"
                    required></textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Answear</mat-label>
                <textarea matInput formControlName="answear" placeholder="Yes" rows="3" required></textarea>
            </mat-form-field>

            @if (!addTagInput) {
            <div class="flex">
                <mat-form-field appearance="outline" class="flex-grow mr-4">
                    <mat-label>Tag - optional</mat-label>
                    <mat-select formControlName="tagId" placeholder="1.semester">
                        <mat-option [value]="null">-</mat-option>
                        @for (tag of tags; track $index) {
                        <mat-option [value]="tag.id">{{tag.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <button mat-raised-button class="ml-auto mt-auto mb-7" type="button" 
                    (click)="addTagInterface()">Create tag
                </button>
            </div>
            }

            @if (addTagInput) {
            <form [formGroup]="addTagForm" class="flex gap-4 pt-5 border-t">
                <mat-form-field appearance="outline" class="flex-grow">
                    <mat-label>Tag name</mat-label>
                    <input matInput formControlName="name" type="text" placeholder="1.semester">
                </mat-form-field>

                <button mat-raised-button class="ml-auto mt-auto mb-7" (click)="createTag()">Create</button>
            </form>
            }

            @if (matDialogData.flashCardId) {
                <button mat-flat-button (click)="editFlashCard()" [disabled]="addTagInput === true" class="mt-4">
                    Edit flashcard
                </button>
            }@else {
                <!-- <button mat-flat-button type="submit" class="mt-4">Create another flashcard</button> -->
                <button mat-flat-button (click)="addFlashCard()" [disabled]="addTagInput === true" class="mt-4">
                    Create the flashcard
                </button>
            }
            
        </form>
    </mat-card-content>
</mat-card>