.dialog {
    background-color: #12023c;
}

button[disabled] {
    background-color: #d3d3d3;
}

h2 {
    font-size: 28px;
}

:host ::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input, .mat-mdc-select {
    color: white;
}