.p-4.border-t-2{
   max-height: 400px;
}

.p-4 p:first-of-type  {
   font-size: large;
}

.customClickableBlock{
   width: 243px;
}

.noElementsDiv{
   background-color: #231942;
   display: flex;
   padding: 1rem;
   border-width: 1px;
   border-style: dashed;
   border-color: darkslategray;
   border-radius: 1rem;
}

.scrollBtn {
   background-color: #12013f;
   opacity: 0;
}

.scrollDiv:hover .scrollBtn{
   opacity: 1;
}

.mat-mdc-outlined-button:not(:disabled){
   color: whitesmoke;
   border-color: white;
}