<div class="flex mt-4">
    <div class="sizeDiv bg-gray-100 rounded-xl">
        <nav class="flex flex-col p-5 justify-between gap-5">
            <div class="ad-content flex flex-col items-center text-center">
                <h2 class="text-xl font-bold">Special Offer!</h2>
                <p class=" text-black font-bold">
                    ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS 
                    ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS 
                    ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS 
                </p>
                <p class="mt-2 text-lg font-bold text-gray-600">
                    You want to get rid of this annoying ads on your screen? Buy our premium and get rid of all the
                    ads in the app!
                </p>
                <button mat-flat-button class="mt-4">
                    Learn More
                </button>
            </div>
        </nav>
    </div>
</div>
