<div class="flex mt-4 sizeDiv mr-3">
    <div class="flex bg-gray-100 rounded-xl">
            <div class="ad-content flex flex-col items-center text-center gap-4 p-5 pt-0">
                <h2 class="text-xl font-bold">Special Offer!</h2>
                <p class=" text-black font-bold">
                    ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS 
                    ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS 
                    ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS ADS 
                </p>
                <p class="text-lg font-bold text-gray-600">
                    You want to get rid of this annoying ads on your screen? 
                </p>

                <p class="text-lg font-bold text-gray-600">Buy our premium and get rid of all the
                    ads in the app!
                </p>

                <p class="text-lg font-bold text-black">
                    ONLY 5 EUR!
                </p>
                <button mat-flat-button class="mt-4" routerLink="/premium">
                    Upgrade now
                </button>
            </div>
    </div>
</div>
