<div class="flex justify-center items-center w-screen h-screen">
    <mat-card class="flex bgColor p-8 justify-center align-middle">
        <mat-card-header class="justify-center">
            <h2 class="text-center font-semibold pb-7">Login</h2>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" class="flex flex-col gap-3">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="user@test.com" required>
                    @if (loginForm.get('email')?.hasError('required')) {
                        <mat-error>Email is required</mat-error>
                        }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password" placeholder="Pa$$w0rd" required>
                    @if (loginForm.get('password')?.hasError('required')) {
                        <mat-error>Password is required</mat-error>
                        }
                </mat-form-field>

                <button [disabled]="loginForm.invalid" (click)="login('default')" mat-raised-button type="button">Log in</button>
            </form>

            <!-- <div class="flex justify-between gap-3 mt-3">
                <button class="w-full" mat-flat-button (click)="login('user')" type="button">Log in as user</button>
                <button class="w-full" mat-flat-button (click)="login('admin')" type="button">Log in as admin</button>
            </div> -->

            <button class="mt-4 text-blue-600" (click)="redirectToRegister()">Don't have an account? Register
                here</button>
        </mat-card-content>
    </mat-card>
</div>